@font-face{
  font-family: Firacode Regular;
  src: url(firacode-regular.otf);
}
body{
  left:0;
  background-color: white;
}



.zoom-in{
  cursor:zoom-in;
}

.zoom-out{
  cursor:zoom-out;
}

#overview{
  z-index: 8;
 position: relative;
 height: 2200px;
 width:2600px;
 background-size: contain;
}



h1{
  position: absolute;
  top:2%;
  left:2%;
  font-family: Firacode Regular;
  font-size: 48px;
  color:black;
}
/* .overview2{
  z-index: 10;
 background-color: blue;
 position: relative;
 top: 0;
 left: 0;
 height: 2290px;
 width:2700px;
 background-size: contain;

} */
img{
  width:100%;
  height:100%;
}


#slide1{
    z-index: 0;
  position:absolute;
  top:0;
  left:0;
  width:33.3%;
  height:28%;
}


x-model {

transform-style: preserve-3d;
  z-index:10;
  animation: 5s spin linear infinite;
  transform: rotateX(-90Deg);
}

@keyframes spin {
  0% {

    transform: rotateX(-90Deg);
    transform: rotateY(0Deg);
  }
  100% {

    transform: rotateX(-90Deg);
    transform: rotateY(360Deg);
  }
}



#slide1_1{
overflow: scroll;
  transform-origin: center;
  transform-style: preserve-3d;
    z-index: 10;
  position:absolute;

  top:0;
  left:0;
  width:33.3%;
  height:28%;
  /* height:300px; */
}
.slide3d{
  right:25px;
  bottom:25px;
    position: absolute;
  overflow:auto;
  width:100%;
  height:100%;
}


#slide2{
    z-index: 1;

  position:absolute;
  top:0;
  left:33.3%;
  width:33.3%;
  height:28%;

}
#slide2_2{
    z-index: 1;

  position:absolute;
  top:0;
  left:33.3%;
  width:0;
  height:0;

}
.scroll_left,
.scroll_right{
position: relative;
/* height:100%;
width:100%; */
}
}
.yellow{
  width:100%;

  top:0;
  left:0;
  position: absolute;
}
.yellow2{
  background: red;
  overflow:hidden;
  width:100%;
  transform-origin: top left;
transform: scale(.98);
  top:0;
  left:100%;
  position: absolute;
}
.slide1{
  animation: slide 1s linear;
left:0;
}
@keyframes slide{
0%{
  left:100%;
}
100%{
  left:0;
}
}
.xd_model{
  width:50%;
}

.slide2_1{

width:100%;
height: 100%;
  /* top:0;
  left:40vw; */
  position:relative;

    display: flex;
    /* flex-wrap:wrap; */
}
.scroll_side1{
  position: absolute;
width:50%;
  top:0;
  left:0;
}


.slide3{
    z-index: 9;
  /* overflow:scroll; */
  position:absolute;
  top:0;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #555; */
}
.slide3_1{

  width:30vw;
  height:80vh;
}
.slide4{
    z-index: 9;
  position:absolute;
  top:28%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}

.slide5{
  z-index: 9;
  /* overflow: scroll; */
  position:absolute;
  top:28%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */

}
.scroll_down{
  overflow: hidden;
position: relative;
}
.scroll_up{
position: relative;
}



.hand1{
  position: absolute;
  left:50%;
  top:70%;
  width:20%;
    height:20%;
  animation: 1s move_x linear infinite;
}
@keyframes move_x {
  0% {
    transform:translate(-50%, -30%);
  }
  50% {
  transform:translate(-50%, -20%);
  }
  100% {
  transform:translate(-50%, -30%);
  }
}

.slide6 {
    z-index: 9;
  position:absolute;
  top:28%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #ccc; */
}
.slide7{

    z-index: 9;
  position:absolute;
  top:56%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}

.slide8{
    /* display: flex; */
  z-index: 9;
  overflow: scroll;
  position:absolute;
  top:56%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */

}
.slide9{
  z-index: 9;
  position:absolute;
  top:56%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.slide10{
  z-index: 9;
  position:absolute;
  top:84%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.slide11{
  z-index: 9;
  overflow: scroll;
  position:absolute;
  top:84%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */
}
.slide12{
  z-index: 9;
  position:absolute;
  top:84%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.close{
  z-index:15;
  color:#EC5244;
  position:absolute;
  top:-20px;
  right:-20px;
  font-family: Firacode Regular;
  font-size: 72px;
  transform-origin: center;
  transform: rotate(45deg);
}
.click_layer{
  z-index: 12;
 /* background-color:rgb(110,210,150, 0.5); */
 position: absolute;
 top: 0;
 left: 0;
 height: 2200px;
 width:2600px;
 overflow: scroll;
 pointer-events:none;

}
.click1{
/* background-color: red; */
  z-index: 12;
position:absolute;
top:0;
left:0;
width:33.3%;
height:28%;
}

.shape_2{
  pointer-events: all;
cursor:pointer;
transform-origin: center;
animation: 5s round linear infinite;
position:absolute;
top:33%;
left:43%;
z-index:10;
width:17%;
height:17%;

}
@keyframes round {
  0% {

  transform: rotate(0);
  }

  100% {

  transform: rotate(360deg);
  }
}
.shape_2shadow{
  pointer-events: all;
cursor:pointer;
animation: 9s can linear infinite;
/* animation: 2s can cubic-bezier(.50, .08, 0, .99) infinite; */
transform-origin: center;
/* background-color:red; */
position:absolute;
top:-2%;
left:30%;
z-index:99;
width:30%;
height:50%;

}
@keyframes can {
  0% {
    opacity: 0;
    top:-2%;
    left:35%;
  transform: rotate(0deg);
  }

  50% {
    opacity: 1;
    top:5%;
    left:40%;
  transform: rotate(40deg);
  }
  100% {
    opacity: 0;
    top:25%;
    left:40%;
  transform: rotate(35deg);
  }
  /* 100% {
    opacity: 0;
    top:-2%;
    left:30%;
  transform: rotate(0);
  } */
}
.shape_2_1{
  pointer-events: all;
cursor:pointer;
transform-origin: center;
animation: 3s hit linear infinite;
position:absolute;
top:68%;
left:25%;
z-index:10;
width:10%;
height:10%;

}
.shape_2_2{
  transform: skew(10deg);
  pointer-events: all;
cursor:pointer;
transform-origin:  center;
animation: 9s hit linear infinite;
position:absolute;
/* background-color: red; */
z-index:10;
width:30%;
height:30%;
top:55%;
left:10%;
}
@keyframes hit {
  0% {
    top:40%;
    left:10%;
    width:10%;
    opacity: 0;
  transform: rotate(0);
  }
  50% {
    top:50%;
    width:25%;
    left:15%;
    opacity: 1;
  transform: rotate(25deg);
  }
  100% {
  width:20%;
    top:55%;
    left:16%;
    opacity: 0;
  transform: rotate(60deg);
  }
}
.link1{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:20%;
right:10%;
z-index:100;
width:80%;
height:90%;
display: none;
}
.link1_1{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:20%;
right:10%;
z-index:100;
width:80%;
height:90%;
display: none;
}
.click2{
  z-index: 99;
position:absolute;
top:0;
left:33.3%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape2_1,
.shape2_2{
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  position: relative;
}
.hand2{
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  top:45%;
left:80%;
  width:20%;
    height:20%;
    transform-origin: center;
    transform: rotate(-90deg);
  /* animation: 1s move_y linear infinite; */
}
.hand3{
    cursor: pointer;
  pointer-events: all;
  position: absolute;
  top:50%;
left:80%;
  width:20%;
    height:20%;
    transform-origin: center;
    transform: rotate(-90deg);

}
.click3{
  z-index: 12;
position:absolute;
top:0;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape_1{
    pointer-events: all;
  cursor:pointer;
/* background-color: red; */
  position:relative;
  top:65%;
  left:10%;
z-index:10;
width:20%;
height:20%;
}
.link3{
  position:absolute;
  top:10px;
  left:-40px;
  display:none;
}

.show{
    display:block;
}

.shape_1 img{
cursor: pointer;
top:120px;
left:50px;
width:20%;
}

.shape1_1{
  transform-origin: top left;
  width:40%;
  overflow: hidden;
  /* background-color: blue; */
  transform:rotate(-40DEG);
    animation: 3s wide linear infinite;
}

@keyframes wide {
  0% {
    width:0;
  }
  50%{
    width:40%;
  }
  100% {
    width:0;
  }
}

.shape1_1 img{
  width:100px;
}

.click4{
  z-index: 12;
position:absolute;
top:28%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape_5 img{
pointer-events: all;
/* background-color: blue; */
cursor: pointer;
position: absolute;
top:50%;
left:50%;
animation:10s frisbee linear infinite;
width:10%;
height:10%;
}
@keyframes frisbee{
  0% {
    top:20%;
    left:30%;
  }
  50% {
    top:70%;
    left:80%;
  }
  75% {
    top:90%;
    left:50%;
  }
  100% {
    top:20%;
    left:30%;
  }
}
.click6{
  z-index: 12;
position:absolute;
top:28%;
left:66.6%;
width:33.3%;
height:28%;
}
.shape6{
  position: relative;
  pointer-events: all;
  /* background-color:rgb(30,29,10,.5); */
  cursor: pointer;
  width:38%;
    height:38%;
    top:54%;
    left:60%;
}
.shape_6{
  /* position: absolute; */

}
.flag{
   /* background-color: rgb(129,130,120,.5); */
   position: absolute;
   top:28%;
   left:12%;
  z-index:99;
  transform-origin: bottom left;
  transform: rotate(3deg);
  width:58%;
  animation: turnflag 1.7s linear infinite;
}
@keyframes turnflag{
  0% {

    transform: rotate(3deg);

  }
  50% {

    transform: rotate(4.5deg);

  }
  100% {

    transform: rotate(3deg);

  }
}
.flag_shadow1{
  position: absolute;
overflow: hidden;
    z-index:11;
background-color: blue;
top:35%;
left:67%;
    /* transform-origin: 0 0; */
  height:100px;
  width:15%;
  /* animation: shadow1 4s linear infinite; */
}
.flag_shadow1img{
  height: 100px;
  position: relative;
  top: 0;
  /* background-color: red; */
  width:100%;
}
@keyframes shadow1{
  0% {
    width:20%;
    /* transform: rotate(43deg); */
  height:0;
  }
  50% {
    width:20%;
    /* transform: rotate(43deg); */
    height:100px;
  }
  100% {
    width:20%;
    /* transform: rotate(43deg); */
    height:0;
  }
}
.flag_shadow2{
    z-index:11;
    overflow:hidden;
  background-color: rgb(129,130,120,.5);
  transform-origin: 0 0;
  /* transform: rotate(43deg); */
  top:60%;
  left:30%;
  position: absolute;
  width:40%;
  height:30%;
  /* animation: shadow2 5s linear infinite; */
}
.flag_shadow2img{
  /* position: absolute; */
  /* top:0;
  left:0; */
  width:200px;
  height: 150px;
}
@keyframes shadow2{
  0% {
    transform: rotate(43deg);
    width:0;
  }
  50% {
    transform: rotate(43deg);
    width:45%;
  }
  100% {
    transform: rotate(43deg);
    width:0;
  }
}
.shape_6_2 img{
pointer-events: all;
/* background-color: blue; */
cursor: pointer;
position: absolute;
top:45%;
left:10%;
animation:2s leaf linear infinite;
width:20%;
height:20%;
transform-origin: center;
}
@keyframes leaf{
  0% {
    transform: rotate(20deg);
  }
  50% {
      transform: rotate(-60deg);
  }
  75% {
  transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.link6{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:20%;
left:10%;
width:70%;
z-index:14;
display: none;
}
.link6_2{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:20%;
left:10%;
width:70%;
z-index:14;
display: none;
}
.show{
  display: block;
}
.shape_7 img{
  pointer-events: all;
transform-origin: center;
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  animation:2s tip linear infinite;
  width:30%;
  height:30%;
transform-style: preserve-3d;
perspective: 20;
}
@keyframes tip{
  0%{
    transform: rotateZ(0);
  }
  50%{
      transform: rotateZ(20deg);
  }
  100%{
      transform: rotateZ(0);
  }
}
.click7{
  z-index: 12;
position:absolute;
top:56%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.link7{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:20%;
left:10%;
width:80%;
z-index:14;
display: none;

}
.click8{
  z-index: 12;
position:absolute;
top:56%;
left:33.3%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}

.shape8{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:30%;
left:30%;
z-index:10;
width:40%;

}
.shape8_1{
  /* background-repeat: no-repeat; */
  background-image: url(eye.png);
  background-position: 0 0;
  background-size: auto 100%;
  /* background-color: red; */
  top:-7%;
  left:4%;
  width:17%;
  height:40%;
  position:absolute;
  animation:  eyes 2s steps(20) infinite;
}

@keyframes eyes{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: -220.5% 0;
  }
}
.link8{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:20%;
left:10%;
width:80%;
z-index:14;
display: none;

}
.show{
  display: block;
}
video{
  width:100%;
}

.click9{
  z-index: 12;
position:absolute;
top:56%;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.click10{
  z-index: 12;
position:absolute;
top:84%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.click11{
  z-index: 12;
position:absolute;
top:84%;
left:33.3%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.click12{
  z-index: 12;
position:absolute;
top:84%;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}

@media(max-width:600px){

  body{
    left:0;
      height:10000px;
  }
.scroll_all{
  position:fixed;
  top:0;
  left: 0;
  background-color: black;
  width:10000px;
  height:100vh;
}
.zoom-out,
.zoom-in{
  display:none;
}
  #overview{
      /* background-color: blue; */
    z-index: 8;
   position: absolute;
   top:20px;
   left: -90vw;
   /* transform: translate(0, -50%); */
   display:flex;
   flex-wrap: wrap;
   height:500px;
   width:10000px;
  }

#slide1,
#slide2,
#slide2_2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8,
.slide9,
.slide10,
.slide11,
.slide12{
  overflow: hidden;
  width:180vw;
  height:125vw;
  position:relative;
  top:0;
  left:0;
   /* background-color: yellow; */
}

img{
  height: 100%;
width:100%;
}

.yellow2{
  display:none;
}
.click_layer{
  /* background-color: yellow; */
height:500px;
  z-index: 12;
 position: absolute;
top:20px;

 left:-90vw;
 width:10000px;

 pointer-events:none;
    display:flex;
    flex-wrap: wrap;
}
.click1,
.click2,
.click3,
.click4,
.click5,
.click6,
.click7,
.click8,
.click9,
.click10,
.click11,
.click12{
  /* background-color: green; */
  overflow: hidden;
  z-index: 12;
position:relative;
top:0;
left:0;
width:180vw;
height:125vw;
}

}
