@font-face{
  font-family: Firacode Regular;
  src: url(firacode-regular.otf);
}
body{
  left:0;
  background-color: white;
}

.zoom-in{
  cursor:zoom-in;
}

.zoom-out{
  cursor:zoom-out;
}

#overview{
  z-index: 8;
 position: absolute;
 top:0;
 left:0;
 height: 168vw;
 width:200vw;
 /* background-size: contain; */
}

h1{
  position: absolute;
  top:2%;
  left:2%;
  font-family: Firacode Regular;
  font-size: 48px;
  color:black;
}

img{
  width:100%;
  height:100%;
}


#slide1{
    z-index: 0;
  position:absolute;
  top:0;
  left:0;
  width:33.3%;
  height:28%;
  overflow: scroll;
}




#slide1_1{
overflow: scroll;
  transform-origin: center;
  transform-style: preserve-3d;
    z-index: 10;
  position:absolute;

  top:0;
  left:0;
  width:33.3%;
  height:28%;
  /* height:300px; */
}



#slide2{
    z-index: 1;
  position:absolute;
  top:0;
  left:33.3%;
  width:33.3%;
  height:28%;
}
#slide2_2{
    z-index: 1;
  position:absolute;
  top:0;
  left:33.3%;
  width:0;
  height:0;

}
.slide8_1{
    z-index: 1;
  position:absolute;
  top:0;
  left:33.3%;
  width:0;
  height:0;

}
.slide11_1{
    z-index: 1;
  position:absolute;
  top:0;
  left:33.3%;
  width:0;
  height:0;

}
.slide10_1{
    z-index: 1;
  position:absolute;
  top:0;
  left:33.3%;
  width:0;
  height:0;

}
.slide9_1{
  z-index: 1;
position:absolute;
top:0;
left:33.3%;
width:0;
height:0;
}
.scroll_right{
position:relative;
top:0;
left:0;
width:100%;
height:100%;

}

.yellow{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
}
.yellow2{
  z-index:16;
  /* overflow:hidden; */
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
  opacity:0;
}
.slide{
  /* animation: slide 1s linear; */
  opacity:1;
}
@keyframes slide{
0%{
  left:100%;
}
100%{
  left:0;
}
}
.shape1{
  /* overflow: scroll; */
  position: absolute;
  width:100%;
  height: 100%;
  /* background-color: blue; */
  top:0;
  right:0;
}
#x-model-renderLayer{
  /* transform: translateZ(20%); */
  /* transform-style: preserve-3d;
  perspective: 2000; */
  /* animation: xd3 3s cubic-bezier(.50, .08, 0, .99) infinite; */
}
@keyframes xd3 {
  0% {
  z-index:10;
  }
  50% {
  z-index:16;
  }
  100% {
  z-index:10;
  }
}
#threed{
  /* background-color: blue; */
  overflow: visible;
  transform-style: preserve-3d;
  perspective: 2000px;
z-index:1;
  top:30%;
  transform-origin: center;
right:5%;
  position: absolute;
  width:16%;
  height: 16%;
animation: xd 3s cubic-bezier(.50, .08, 0, .99) infinite;
}

#threed2{
  /* background-color: blue; */
  overflow: visible;
  transform-style: preserve-3d;
  perspective: 2000px;
  top:40%;
  transform-origin: center;
left:55%;
  position: absolute;
animation: xd2 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes xd2 {
  0% {
    width:30%;
    height: 30%;
      transform: translateY(0);
    transform: rotateX(-90Deg);
    transform: rotateY(0Deg);
    /* transform: rotateZ(0); */
  }
  50% {
    width:45%;
    height: 45%;
/* transform: rotateZ(20deg); */
  }
  100% {
    width:30%;
    height: 30%;
      transform: translateY(-100%);
    transform: rotateX(-90Deg);
    transform: rotateY(360Deg);
    /* transform: rotateZ(0); */
  }
}
@keyframes xd {
  0% {
    width:16%;
    height: 16%;
    transform: translate3d(0);
    transform: rotateX(-90Deg);
    transform: rotateY(0Deg);
  }
  50% {
    width:24%;
    height: 24%;

  }
  100% {
    width:16%;
    height: 16%;
    transform: translate3d(100%);
    transform: rotateX(-90Deg);
    transform: rotateY(360Deg);
  }
}
.slide2_1{

width:100%;
height: 100%;
  /* top:0;
  left:40vw; */
  position:relative;

    display: flex;
    /* flex-wrap:wrap; */
}
.scroll_side1{
  position: absolute;
width:50%;
  top:0;
  left:0;
}


.slide3{
    z-index: 9;
  /* overflow:scroll; */
  position:absolute;
  top:28%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #555; */
}
.slide3_1{

  width:30vw;
  height:80vh;
}
.slide4{
    z-index: 9;
  position:absolute;
  top:28%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}

.slide5{
  z-index: 9;
  /* overflow: scroll; */
  position:absolute;
  top:28%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */

}
.red{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position: absolute;
}
.red2{
  height:100%;
  background: red;
  overflow:hidden;
  width:100%;
  transform-origin: top left;
/* transform: scale(.98); */
  top:0;
  left:0;
  position: absolute;
  opacity: 0;
}
.blue{
  height:100%;
  background: red;
  overflow:hidden;
  width:100%;
  transform-origin: top left;
/* transform: scale(.98); */
  top:0;
  left:0;
  position: absolute;
  opacity: 0;
}

.slideup{
opacity: 1;
}


.scroll_down{
  overflow: hidden;
position: relative;
top:0;
left:0;
width:100%;
height:100%;
}
.scroll_up{
position: relative;
}



.hand1{
  position: absolute;
  left:50%;
  top:70%;
  width:20%;
    height:20%;
  animation: 1s move_x linear infinite;
}
@keyframes move_x {
  0% {
    transform:translate(-50%, -30%);
  }
  50% {
  transform:translate(-50%, -20%);
  }
  100% {
  transform:translate(-50%, -30%);
  }
}

.slide6 {
    z-index: 9;
  position:absolute;
  top:84%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #ccc; */
}
.slide7{

    z-index: 9;
  position:absolute;
  top:56%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}

.slide8{
    /* display: flex; */
  z-index: 9;
  overflow: scroll;
  position:absolute;
  top:56%;
  left:33.3%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */

}
.slide9{
  z-index: 9;
  position:absolute;
  top:0;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.slide10{
  z-index: 9;
  position:absolute;
  top:84%;
  left:0;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.slide11{
  z-index: 9;
  overflow: scroll;
  position:absolute;
  top:56%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #aaa; */
}
.slide12{
  z-index: 9;
  position:absolute;
  top:84%;
  left:66.6%;
  width:33.3%;
  height:28%;
  /* background-color: #444; */
}
.close{
  pointer-events: all;
  cursor: pointer;
  z-index:100;
  color:#EC5244;
  position:absolute;
  top:-20px;
  right:-20px;
  font-family: Firacode Regular;
  font-size: 72px;
  transform-origin: center;
  transform: rotate(45deg);
}
.click_layer{
  z-index: 12;
 /* background-color:rgb(110,210,150, 0.5); */
 position: absolute;
 top: 0;
 left: 0;
 height: 168vw;
 width:200vw;
 overflow: visible;
 pointer-events:none;

}
.click1{
/* background-color: red; */
  z-index: 12;
position:absolute;
top:0;
left:0;
width:33.3%;
height:28%;
}

.shape_2{
  pointer-events: all;
cursor:pointer;
transform-origin: center;
position:absolute;
top:15%;
right:15%;
z-index:100;
/* width:20%; */
height:30%;
/* background-color: red; */
animation: 3s can2 cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes can2 {
  0% {

  transform: rotate(0)translateY(0);

  }

  50% {
transform: rotate(-5deg)translateY(-12%);
  }
  100% {

    transform: rotate(0)translateY(0);

  }

}
.shape_2shadow{
  pointer-events: all;
cursor:pointer;
/* animation: 6s can linear infinite; */
animation: 3s can cubic-bezier(.50, .08, 0, .99) infinite;
transform-origin: bottom left;
/* background-color:red; */
position:absolute;
z-index:99;
width:16%;
height:16%;
top:25%;
right:4%;

}
@keyframes can {
  0% {

  transform: scale(.6)skewX(10deg);

  }

  50% {
transform: scale(.9) skewX(-20deg);
  }
  100% {

    transform: scale(.6)skewX(10deg);

  }

}
.shape_2_1{
  pointer-events: all;
cursor:pointer;
transform-origin: center;
transform: rotate(5deg);
position:absolute;
top:36%;
right:10%;
z-index:10;
width:18%;
height:18%;
animation: 3s fan cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes fan {
  0% {
  transform: rotate(0) ;
  }
  50% {
transform: rotate(15deg);
  }
  100% {
  transform: rotate(0);
  }
}
.shape_2_2{
  /* transform: skew(10deg); */
  pointer-events: all;
cursor:pointer;
transform-origin: bottom left;
animation: 3s hit cubic-bezier(.50, .08, 0, .99) infinite;
position:absolute;
/* background-color: red; */
z-index:10;
width:12%;
height:12%;
top:44%;
right:15%;
}
@keyframes hit {
  0% {
  transform: rotate(0) scale(1.4)skewX(-30deg)skewY(0);
  }
  50% {
transform: rotate(0)scale(1.6)skewX(-50deg)skewY(10deg);
  }
  100% {
  transform: rotate(0)scale(1.4)skewX(-30deg)skewY(0);
  }
}
.link1{
position:absolute;
top:0;
right:0;
/* z-index:100; */
width:100%;
/* height:90%; */
display: none;
}
.link2{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:10%;
left:5%;
/* z-index:100; */
width:80%;
/* height:90%; */
display: none;
}
.link1_1{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:40%;
transform: translate();
left:5%;
z-index:100;
width:45%;
height:40%;
display: none;
}
.click2{
  z-index: 99;
position:absolute;
top:0;
left:33.3%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape2_1{
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  position: relative;
}
.hand2{
  display:none;
  z-index: 99;
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  top:44%;
left:85%;
  width:15%;
    height:15%;
    transform-origin: center;
    transform: rotate(-90deg);
  animation: 1.4s move_y linear infinite;
}
@keyframes move_y{
  0%{
left:85%;
  }
  50%{
left:83%;
  }
  100%{
    left:85%;
  }
}
.hand3{
  display:none;
  z-index: 99;
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  top:44%;
left:85%;
  width:15%;
    height:15%;
    transform-origin: center;
    transform: rotate(-90deg);
  animation: 1.4s move_x linear infinite;

}
@keyframes move_x{
  0%{
left:85%;
  }
  50%{
left:90%;
  }
  100%{
    left:85%;
  }
}

 .hand4{
  z-index: 99;
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  overflow:hidden;
  top:28.5%;
left:12%;
  width:15%;
  /* background-color: blue; */
  /* width:2%; */
    /* height:20%; */
    /* transform-origin: center; */
    transform: rotate(-90deg);
  animation: 1.4s move_x2 linear infinite;

}
@keyframes move_x2{
  0%{
left:13%;
  }
  50%{
left:12%;
  }
  100%{
    left:13%;
  }
}

.click3{
  z-index: 12;
position:absolute;
top:28%;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.click3_1{
  z-index: 12;
position:absolute;
top:0;
left:66.6%;
width:0;
height:0;
/* background-color: rgb(110,210,150, 0.5); */
}
.click3_2{
  z-index: 12;
position:absolute;
top:0;
left:66.6%;
width:0;
height:0;
/* background-color: rgb(110,210,150, 0.5); */
}
.link3{
  overflow: hidden;
  z-index: 16;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  /* background-color: rgb(110,210,150, 0.5); */
}
.link3_1{
  z-index: 17;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  /* background-color: rgb(110,210,150, 0.5); */
}
.audio1{
  cursor: pointer;
pointer-events: all;
  position:absolute;
  top:35%;
  left:68%;
  width:20%;
  height:10%;
  /* background-color: yellow; */
}
.audio1_header{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-color: black;
  display:none;
  height:5%;
  padding:10px;
  font-family: Firacode Regular;
  font-size: 24px;
  color:white;
  opacity: 1;
  /* border-radius: 20px; */
}
.reveal{
  display:block;
}
.audio2{
  cursor: pointer;
pointer-events: all;
  position:absolute;
  top:15%;
  left:4%;
  width:20%;
  height:10%;
  /* background-color: red; */
}
.audio2_header{
  position:absolute;
  top:-80%;
  left:0;
  width:80%;
  background: black;
  height:40%;
  padding:10%;
  font-family: Firacode Regular;
  font-size: 50%;
  color:white;
  opacity: 1;
  border-radius: 25%;
}
.audio3{
  cursor: pointer;
pointer-events: all;
  position:absolute;
  top:15%;
  left:55%;
  width:20%;
  height:10%;
  /* background-color: red; */
}
.audio3_header{
  position:absolute;
  top:-80%;
  left:0;
  width:80%;
  background: black;
  height:40%;
  padding:10%;
  font-family: Firacode Regular;
  font-size: 50%;
  color:white;
  opacity: 1;
  border-radius: 25%;
}
.audio4{
  cursor: pointer;
pointer-events: all;
  position:absolute;
  top:22%;
  left:30%;
  width:20%;
  height:10%;
  /* background-color: red; */
}
.audio4_header{
  position:absolute;
  top:-80%;
  left:0;
  width:80%;
  background: black;
  height:40%;
  padding:10%;
  font-family: Firacode Regular;
  font-size: 50%;
  color:white;
  opacity: 1;
  border-radius: 25%;
}

 audio{
   position: relative;
  width:120%;
  height:150%;
  /* color: #95B9C7; */
}


.shape_1{

/* background-color: red; */
  position:relative;
  top:0;
  left:0;
z-index:10;
width:100%;
height:100%;
}
.shape1_1{
  z-index:99;
  pointer-events:all;
  cursor: pointer;
position: absolute;
  width:12%;
  height:20%;
  overflow: hidden;
  top:62%;
  left:5%;
transform-origin: left;
animation: 3s speaker cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes speaker {
  0% {
  transform: scale(1.2);
  }
  50%{
transform:  scale(1.8);
  }
  100% {
transform:  scale(1.2);
  }
}
.shape1_2{
  /* perspective: 2000; */
  /* transform-style: preserve-3d; */
  /* preserve-3dstyle: 3d-style; */
  z-index:19;
  position: absolute;
  pointer-events: all;
cursor:pointer;
  transform-origin: 0 25;
  /* width:20%; */
  top:75%;
  left:10%;
  overflow: hidden;
  /* background-color: blue; */
  width:11%;
height:11%;
    animation: 3s wide cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes wide {
  0% {
  transform: scale(1.2)skewX(60deg)translateY(0);
  }
  50%{
transform:  scale(2)skewX(-40deg)translateY(15%);
  }
  100% {
transform:  scale(1.2) skewX(60deg)translateY(0);
  }
}

.shape10{
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.shapewheel{
  z-index:16;
  width:100%;
  position: relative;
}
.shapewheelshadow{
  z-index:17;
  position: absolute;
  top:0;
  left:0;
  transform-origin: center;
  width:50%;
  /* height:4%; */
  /* background-color: blue; */
    animation: 2s wheel linear infinite;
}
@keyframes wheel {
  0% {
  transform: rotate(0);

  }

  100% {
    transform: rotate(360deg);

  }
}
.shape_10{
  pointer-events: all;
  cursor: pointer;
  /* background-repeat: no-repeat; */
  /* background-image: url(slinky2.png); */
  background-position: 0 0;
  background-size: auto 100%;
  /* background-color: red; */
  top:27%;
  left:55%;
  width:40%;
  height:27%;
  position:absolute;
  /* animation:  slinky 2s steps(19) infinite; */
}

@keyframes slinky{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 2060px 0;
  }
}
.link10{
  display: none;
  z-index:18;
  top:16%;
  left:15%;
  overflow: hidden;
  /* background-color: red; */
position: absolute;
  width:30%;
  height:78%;
}
.fortune1,
.fortune2,
.fortune3,
.fortune4,
.fortune5{
  /* position: absolute; */
  transform: rotate(-180deg);
}
.link10_1{
  top:0;
  left:0;
  transform: translateY(0);
  width:100%;
  height:100%;
  position: relative;
  animation: prints 40s steps(240) infinite;
}
.link10_2{
  top:0;
  left:0;
  /* transform: translateY(0); */
  width:20%;
  height:2%;
  position: relative;
  /* animation: prints 6s linear infinite; */
}
@keyframes prints{
  0%{
transform: translateY(-500%);
  }

  100%{
transform: translateY(100%);
  }
}
/* .fortune1{
  transform: translateY(-100%)rotate(-180deg);
  animation: print 6s linear infinite;
   animation-fill-mode: forwards;
}
.fortune2{
  transform: translateY(-200%)rotate(-180deg);
  animation: print2 6s linear infinite;
  animation-delay: 5s;
}
@keyframes print2{
  0%{
transform: translateY(-200%)rotate(-180deg);
  }
  50%{
transform: translateY(-100%)rotate(-180deg);
  }
  100%{
transform: translateY(0)rotate(-180deg);
  }
}
.fortune3{
  transform: translateY(-300%)rotate(-180deg);
}
.fortune4{
  transform: translateY(-400%)rotate(-180deg);
}
.fortune5{
  transform: translateY(-500%)rotate(-180deg);
}
@keyframes print{
  0%{
transform: translateY(-100%)rotate(-180deg);
  }
  50%{
transform: translateY(0)rotate(-180deg);
  }
  100%{
transform: translateY(0)rotate(-180deg);
  }
} */
.click4{
  z-index: 12;
position:absolute;
top:28%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape4{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;

}
.shape_4{
  pointer-events: all;
  cursor: pointer;
  position: absolute;
  top:62%;
  left:66%;
  width:8%;
  /* height:15%; */
  z-index:18;
  transform-origin: right bottom;
    /* background-color: rgb(110,210,150, 0.5); */
    animation: cup 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes cup{
  0%{

transform:  rotate(0deg);
  }
  50%{
    transform:  rotate(85deg);

  }
  100%{

    transform:  rotate(0deg);
  }
}
.shape_4_1{
  z-index:14;
  position: absolute;
  top:70%;
  left:72%;
  width:10%;
  height:10%;
  transform-origin: left;
    /* background-color: rgb(110,210,150, 0.5); */
    animation: cup2 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes cup2 {

  0%{
transform: translateX(0)scale(.8) skewY(0deg) skewX(0deg);
  }
  50%{
transform: translateX(20%) scale(1.2) skewY(0deg) skewX(-30deg);
  }
  100%{

transform: translateX(0)scale(.8) skewY(0deg) skewX(0deg);

  }
}
.link4{
  pointer-events: all;
  cursor: pointer;
  z-index: 16;
  position:absolute;
  top:2%;
  left:2%;
  width:95%;

  /* height:100%; */
display:none;
  /* background-color: rgb(110,210,150, 0.5); */
}
video{
  outline: none;
  box-shadow: none;
}
.shape_5{
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
/* background-color: blue; */
}
.shape5{

  width:10%;
  height:15%;
  position: absolute;
  pointer-events: all;
  z-index:15;
  top:7%;
  left:28%;
  cursor: pointer;
}
.ball{
  position: relative;
  z-index:16;
  width:70%;
  height:70%;
animation: 3s ball cubic-bezier(.50, .08, 0, .99) infinite;
opacity:1;
}
@keyframes ball{
  0% {
  transform: translateY(0);
  }
  50% {
  transform: translateY(55%);
  }

  100% {
  transform: translateY(0);
  }
}
.ball_shadow{
  z-index:14;
   /* background: red; */
  width:65%;
  height:65%;
  position: relative;
  /* background-color:red; */
  animation: 3s ballshadow cubic-bezier(.50, .08, 0, .99) infinite;
  transform-origin: center;
  transform: rotate(40deg);
}
@keyframes ballshadow{
  0% {
    /* top:30%; */
    transform: scale(.7)rotate(20deg);

    /* left:30%; */
  }
  50% {

    transform: scale(.5)rotate(20deg);
    /* top:35%; */
    /* left:80%; */
  }

  100% {
    transform: scale(.7)rotate(20deg);

    /* top:30%; */
    /* left:30%; */
  }
}
.ball_hide{
  opacity:0;
}

.click5{
  z-index: 12;
position:absolute;
top:28%;
left:33.3%;
width:33.3%;
height:28%;
}


.click5_1{
  z-index: 12;
position:absolute;
top:28%;
left:33.3%;
width:33.3%;
height:28%;
}
.coffee{
  /* background-color: red; */
  z-index:14;
pointer-events: all;
cursor:pointer;
position:absolute;
width:20%;
height:20%;
top:72%;
right:35%;
}
.shape_8{

width:100%;
height:100%;

}
.shape_8_1{
  position: absolute;
  top:0;
  left:28%;
  z-index:15;
width:50%;
height:50%;
animation: bottle 3s cubic-bezier(.50, .08, 0, .99) infinite;

}
@keyframes bottle {

  0%{
transform: scale(1) skewY(5deg) skewX(-50deg)rotate(10deg)translateX(-1%);
  }
  50%{
transform:  scale(.7) skewY(10deg) skewX(-65deg)rotate(5deg)translateX(1%);
  }
  100%{

transform: scale(1) skewY(5deg) skewX(-50deg)rotate(10deg)translateX(-1%);

  }
}

.link5{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:25%;
left:25%;
width:50%;
height:50%;
z-index:14;
display: none;
background-color: rgb(110,210,150, 0.5);
}
.link5_1{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:25%;
right:10%;
width:30%;
height:50%;
z-index:14;
display: none;
background-color: rgb(110,210,150, 0.5);
}
.click6{
  z-index: 12;
position:absolute;
top:84%;
left:33.3%;
width:33.3%;
height:28%;
}
.shape6{
  top:0;
  left:0;
  width:100%;
  height:100%;
  position: relative;
}
.shape_6{
  position: absolute;
  pointer-events: all;
  /* background-color:rgb(30,29,10,.5); */
  cursor: pointer;
  width:18%;
    height:16%;
    top:64%;
    left:64%;/* position: absolute; */
animation: turnflag 1.5s linear infinite;
}

@keyframes turnflag{
  0% {

    transform: rotate(3deg);

  }
  50% {

    transform: rotate(6deg);

  }
  100% {

    transform: rotate(3deg);

  }
}



.link6{
  pointer-events: all;
cursor:pointer;
position:absolute;
background-color: blue;
top:2%;
left:2%;
width:70%;
height:50%;
z-index:20;
display: none;
}

/* .show{
display: block;
} */

.click7{
  z-index: 12;
position:absolute;
top:56%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape7{

/* background-color: red; */
position:relative;
top:0%;
left:0%;
width:100%;
height:100%;
}
.shape_7{
  z-index:18;
  pointer-events: all;
cursor:pointer;
position:absolute;
top:30%;
right:5%;
transform-origin: center;
transform:rotate(-45deg);
width:35%;
height:35%;
animation: racket1 3s cubic-bezier(.50, .08, 0, .99)infinite;
}
@keyframes racket1 {
  0%{
transform: rotate(-25deg);
  }
  50%{
transform:  rotate(-45deg);
  }
  100%{
transform: rotate(-25deg);
  }
}
.shape_7_1{
  z-index:14;
  pointer-events: all;
cursor:pointer;
transform-origin: left;
position:absolute;
/* background-color: red; */
top:42%;
right:7%;
width:25%;
height:25%;
/* transform: rotate(0)scale(1)skewX(50deg)skewY(20deg); */
animation: racket 3s cubic-bezier(.50, .08, 0, .99)infinite;
}
@keyframes racket {
  0%{
transform: scale(1)skewX(10deg)skewY(30deg);
  }
  50%{
transform:  scale(1) skewX(0deg)skewY(0deg);
  }
  100%{
transform: scale(1)skewX(10deg)skewY(30deg);
  }
}

.link7{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:14;
display: none;
/* background-color: blue; */
}
.click8{
  z-index: 12;
position:absolute;
top:56%;
left:33.3%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}

.shape8{
/* background-color: rgb(110,210,150, 0.5); */
position:relative;
top:0;
left:0;
z-index:10;
width:100%;
height:100%;
}

.link8{
  pointer-events: all;
cursor:pointer;
/* background-color: red; */
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:12;
display: none;
}
.link8 a{
  /* background-color: red; */
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.video8_1{
  position:absolute;
  transform-origin: top left;
  transform: rotate(-2deg);
  top:4%;
  left:2%;
  width:40%;
  height:40%;
  /* height:100%; */
}
.video8_2{
  position:absolute;
  transform-origin: top left;
  transform: rotate(-5deg);
  top:20%;
  left:33%;
  width:33%;
  height:33%;
  /* height:100%; */
}
.video8_3{
  position:absolute;
  transform-origin: top left;
  transform: rotate(2deg);
  top:4%;
  right:4%;
  width:40%;
  height:40%;
  /* height:100%; */
}
.video8_4{
  position:absolute;
  transform-origin: top left;
  transform: rotate(2deg);
  top:45%;
  left:2%;
  width:40%;
  height:40%;
  /* height:100%; */
}
.video8_5{
  position:absolute;
  transform-origin: top left;
  transform: rotate(-2deg);
  top:45%;
  right:2%;
  width:40%;
  height:40%;
  /* height:100%; */
}
.video8_6{
  position:absolute;
  transform-origin: top left;
  transform: rotate(5deg);
  top:45%;
  left:30%;
  width:40%;
  height:40%;
  /* height:100%; */
}
.show{
  display: block;
}
video{
  width:100%;
}

.click9{
  z-index: 12;
position:absolute;
top:0;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape9{
/* background-color: red; */
position:relative;
top:0%;
left:0%;
width:100%;
height:100%;
}
.shape_9{
  /* background-color: red; */
  z-index:30;
  pointer-events: all;
cursor:pointer;
position:absolute;
transform: rotate(-10deg);
transform-origin: center;
top:4%;
left:66%;
width:25%;
height:25%;
}
.shape_9_1{
  transform: rotate(-24deg);
  /* background-color: red; */
  z-index:13;
  pointer-events: all;
cursor:pointer;
transform-origin: left;
position:absolute;
top:8%;
left:66.5%;
width:25%;
height:25%;
animation: pin 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes pin {
  0%{
    opacity: 1;
    transform: rotate(-10deg) skewX(20deg);
}
  50%{

  opacity: 1;
  transform: rotate(-5deg) skewX(0);
  }

  100%{
    opacity: 1;
    transform: rotate(-10deg) skewX(20deg);
  }
}
.link9{
top:0;
left:0;
width:100%;
height:100%;
/* z-index:14; */
position: absolute;
display: none;
/* background-color: rgb(110,210,150, 0.5); */
}
.video9_1{
  z-index:19;
position: absolute;
top:28%;
left:68%;
width:15%;
height:62%;
}
.video9_2{
  z-index:19;
position: absolute;
top:50%;
left:5%;
width:20%;
height:27%;
}
.video9_3{
  z-index:19;
position: absolute;
top:10%;
left:42%;
width:20%;
height:20%;
}
.video9_4{
  z-index:16;
position: absolute;
top:60%;
left:37%;
/* width:20%; */
width:18%;
height:25%;
}
.img9_4{
  z-index:20;
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
/* background-color: rgb(110,210,150, 0.5); */
}
.click10{
z-index: 12;
position:absolute;
top:84%;
left:0;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}



.click11{
  overflow: visible;
  z-index: 12;
position:absolute;
top:56%;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape11{
/* background-color: red; */
position:relative;
top:0%;
left:0%;
width:100%;
height:100%;
}
.shape_11{
  /* background-color: red; */
  z-index:18;
  pointer-events: all;
cursor:pointer;
position:absolute;
transform-origin: bottom;
top:5%;
left:5%;
width:20%;
height:20%;
animation: spin2 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes spin2 {
  0%{

transform: rotate(-5deg);

  }
  50%{
transform:  rotate(5deg);
  }
  100%{

transform: rotate(-5deg);

  }
}
.shape_11:hover .blue{
  opacity:1;
}
.shape_11_1{
  /* background-color: red; */
  z-index:13;
  pointer-events: all;
cursor:pointer;
transform-origin: center;
position:absolute;
top:20%;
left:10%;
width:10%;
height:10%;
/* transform: scale(1) rotate(0deg)skewY(0deg) skewX(60deg); */
animation: spin 3s cubic-bezier(.50, .08, 0, .99) infinite;
}
@keyframes spin {
  0%{

transform: scale(.4) skewX(40deg);

  }
  50%{
transform:  scale(1)skewX(-40deg);
  }
  100%{

transform: scale(.4)  skewX(40deg);

  }
}

.link11{
pointer-events: all;
cursor:auto;
position:absolute;
top:10%;
left:10%;
width:80%;
/* height:50%; */
z-index:14;
display: none;
/* background-color: rgb(110,210,150, 0.5); */
}
.shape12{
/* background-color: red; */
position:relative;
top:0%;
left:0%;
width:100%;
height:100%;
}
.link12{
  pointer-events: all;
cursor:pointer;
position:absolute;
top:0;
right:0;
width:100%;
height:100%;
z-index:14;
display: none;
/* background-color: rgb(110,210,150, 0.5); */
}
.click12{
  z-index: 12;
position:absolute;
top:84%;
left:66.6%;
width:33.3%;
height:28%;
/* background-color: rgb(110,210,150, 0.5); */
}
.show{
    display:block;
}
@media(max-width:600px){

  body{

      /* height:100vh; */
        background-color: black;
  }
.scroll_all{
  /* transform: translateZ(0);
  background-size: cover; */
  position:relative;
  top:0;
  left: 0;
 width:2860vw;
 pointer-events: none;
 /* height:100vh; */
 /* background-color: red; */
 overflow: hidden;
  /*
   */
}
.zoom-out,
.zoom-in{
  display:none;
}
  #overview{
      /* background-color: blue; */
    z-index: 8;
   position: absolute;
   /* top:50%; */
   left: -90vw;
   /* transform: translate(0, -50%); */
   overflow: hidden;
   display:flex;
   flex-wrap: wrap;
  height:100vh;
   width:2880vw;
  }

#slide1,
#slide2,
#slide2_2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8,
.slide8_1,
.slide9,
.slide10,
.slide10_1,
.slide11,
.slide11_1,
.slide12,
#slide1{
  overflow: hidden;
  width:180vw;
  height:125vw;
  position:relative;
  top:50%;
  left:0;
  transform: translate(0, -50%);
   /* background-color: yellow; */
}

img{
  height: 100%;
width:100%;
position: absolute;
top:0;
left:0;
}

.yellow2{
  display:none;
}
.click_layer{
  z-index: 12;
 position: absolute;
height:100vh;
 left:-90vw;
 width:2880vw;

 pointer-events:none;
    display:flex;
    flex-wrap: wrap;
}
.click1,
.click2,
.click3,
.click3_1,
.click3_2,
.click4,
.click5,
.click5_1,
.click6,
.click7,
.click8,
.click9,
.click10,
.click11,
.click12{
  /* background-color: green; */
  overflow: hidden;
  z-index: 12;
position:relative;
transform: translate(0, -50%);
top:50%;
left:0;
width:180vw;
height:125vw;
}
.hand2{
  /* display:none; */
}
.hand3,
.hand4{
  display: none;
}

.shape5_2,
.shape5_3{
  opacity: 1;
}
#x-model-renderLayer{
  left:1000vw;
}
}
